/*scss colors&fonts */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  /* Base Style */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img {
  display: block;
}

body {
  line-height: 1;
  position: relative;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom site styles */
/* text */
body {
  color: #46494C;
  background-color: #DCDCDD;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.2em;
  line-height: 1.44em;
  text-size-adjust: 100%;
  height: 100%;
}
p {
  line-height: 1.2em;
  padding-bottom: 1.44em;
}

h1 {
  color: #202C39;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.44em;
  line-height: 1.2em;
  text-size-adjust: 100%;
}

h2 {
  color: #202C39;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  text-size-adjust: 100%;
}

h3 {
  color: #202C39;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 1.44em;
  line-height: 1.728em;
}

/* links in p setting */
p a:link {
  color: #202C39;
  text-decoration: none;
}

p a:visited {
  color: #202C39;
  text-decoration: none;
}

p a:hover {
  color: #46494C;
  text-decoration: none;
}

p a:active {
  color: #46494C;
  text-decoration: none;
}

@media screen and (min-width: 35em) {
  /* nav start */
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  ul.topnav li {
    float: left;
  }
  ul.topnav li a {
      display: inline-block;
      color: #FFFFFF;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
  }
  .current {
    background-color: #222222;
  }
  ul.topnav li a:hover {background-color: #555;}
  ul.topnav li.icon {display: none;}
  /* nav end */
  /* home start */
  .bgi {
    z-index: -3;
    position: fixed;
    top: -10em;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .homelogo {
    z-index: -2;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .namelogo {
    width: 22em;
  }
  .cnamelogo {
    width: 7.333em;
    margin-left: 3em;
  }

  /* home end */
  /* about start */
  .photos {
    display: flex;
    justify-content: center;
    padding-right: 1.777em;
    padding-bottom: 1.777em;
    padding-top: 3.554em;
  }
  .thumb {
    position: relative;
    width: 10em;
    height: 10em;
    overflow: hidden;
    padding-right: 1.333em;
    padding-left: 1.333em;
  }
  .thumb img {
    position: absolute;
    height: 100%;
    width: auto;
  }
  .img2 {
    width: 30%;
    display: block;
    height: 18.75%;
    max-width: 100%;
  }
  .aboutme {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  .head1 {
    display: table-cell;
    text-align: right;
    width: 25%;
    padding-left: 1.777em;
    padding-right: 1.777em;
  }
  .p1 {
    display: table-cell;
    width: 75%;
    padding-right: 3.554em;
    padding-left: 1.777em;
    margin-right: 6em;
  }
  .p1 p {
    max-width: 40em;
  }
  /* about end */
  /* portfolio start */
  .myworks {
    display: flex;
    justify-content: space-around;
    padding-top: 7.108em;
    padding-bottom: 3em;
  }
  .myworks a img{
    width: 12em;
    height: 12em;
  }
  .phoweb {
    padding-left: 10em;
  }
  .dataweb {
    padding-right: 10em;
  }
  .dv_bird {
    padding-left: 10em;
  }
  .dv_gun {
    padding-right: 10em;
  }
  figure figcaption {
    padding-top: 1.777em;
    text-align: center;
  }
  .myworks a:link {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    text-decoration: none;
    text-decoration: none;
  }
  .myworks a:visited {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    
    text-decoration: none;
  }
  .myworks a:hover {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    
    text-decoration: none;
  }
  .myworks a:active {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    
    text-decoration: none;
  }
  

  .vizimg {
    width: 100%;
    height: 100%;   
  }
  .vizimg img {
    width: 100%;
    height: 100%;
  }
  /* portfolio end */
  /* Contact start */
  .portrait {
    width: 13.333em;
    height: 13.333em;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2.777em;
    margin-left: auto;
    margin-right: auto;
  }
  .portrait img {
    width: 15.333em;
    height: 15.333em;
  }
  .message {
    text-align: center;
    margin-top: 2.777em;
    padding-bottom: 2.333em;
  }
  .message a:link {
    color: #202C39;
    text-decoration: underline;
  }
  .message a:visited {
    color: #202C39;
    text-decoration: none;
  }
  .message a:hover {
    color: #46494C;
    text-decoration: none;
  }
  .message a:active {
    color: #46494C;
    text-decoration: none;
  }
  .icon {
    display: flex;
    justify-content: center;
  }
  .icon img {
    width: 2em;
    height: 2em;
    padding-right: 0.666em;
    transition: all 0.3s ease;
  }
  .icon img:hover {
    width: 2.5em;
    height: 2.5em;
  }
  /* Contact end */
  /* Blog start */
  #blog {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-top: 2.333em;
  }
  #blog a:link {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog a:visited {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog a:hover {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog a:active {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #header {
    display: table-cell;
    width: 30%;
    text-align: right;
    padding: 2.333em;
  }
  #header h1 {
    padding-bottom: 2.333em;
  }
  #header h2 {
    font-size: 1em;
  }
  #blogpost {
    display: table-cell;
    width: 70%;
    padding: 2.333em;
    border-left: 0.1333em solid #000000;
  }
  .posth2 {
    padding-bottom: 1em;
  }
  .postdate {
    text-align: center;
    font-size: 0.888em;
    border-bottom: 0.1333em solid #000000;
    margin-bottom: 1.333em;
    margin-top: 1.333em;
  }
  .blogcaption {
    display: block;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .blogpost {
    padding-bottom: 1.333em;
  }
  /* Blog end */
}

@media screen and (max-width: 35em) {
  /* nav start */
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      text-decoration: none;
      transition: 0.3s;
      padding: 14px 16px;
      font-size: 17px;
  }
  ul.topnav li {float: left;}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  /* nav end */
  /* home start */
  .bgi {
    z-index: -3;
    max-width: 100%;
    position: fixed;
    top: -5em;
    left: 0;
  }
  .homelogo {
    z-index: -2;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .namelogo {
    width: 10em;
  }
  .cnamelogo {
    width: 3.333em;
    margin-left: 1.333em;
  }

  /* home end */
  /* about start */
  h2 {
    padding-top: 0.777em;
    padding-left: 0.333em;
    padding-bottom: 0.777em;
    line-height: 0.333em;
  }
  p {
    padding: 0.333em;
  }
  .img2 {
    width: auto;
    height: auto;
    width: 30%;
    display: block;
    height: 18.75%;
    max-width: 100%;
  }
  .photos {
    display: flex;
    justify-content: center;
    padding-right: 0.333em;
    padding-bottom: 0.333em;
    padding-top: 0.666em;
  }
  .thumb {
    position: relative;
    width: 5em;
    height: 5em;
    overflow: hidden;
    padding-right: 0.333em;
    padding-left: 0.333em;
  }
  .thumb img {
    position: absolute;
    height: 100%;
    width: auto;
  }
  .head1 {
    text-align: left;
    padding-left: 0.333em;
    font-size: 75%;
  }
  .p1 {
    padding-right: 0.333em;
    padding-left: 0.333em;
  }
  .head2 {
    text-align: left;
    padding-left: 0.333em;
    font-size: 75%;
  }
  .p2 {
    padding-right: 0.333em;
    padding-left: 0.333em;
  }
  /* about end */
  /* portfolio start */
  .myworks {
    display: flex;
    justify-content: space-around;
    padding-top: 7.108em;
  }
  .myworks a img{
    width: 7em;
    height: 7em;
  }  
  figure figcaption {
    padding-top: 1.777em;
    font-size: 80%;
    text-align: center;
  }
  .myworks a:link {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    text-decoration: none;
    text-decoration: none;  
  }
  .myworks a:visited {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    
    text-decoration: none;
  }
  .myworks a:hover {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    
    text-decoration: none;
  }
  .myworks a:active {
    color: #0C0C0C;
    font-family: Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black","sans serif"    
    text-decoration: none;
  }  

  .vizimg {
    width: 100%;
    height: 100%;   
  }
  .vizimg img {
    width: 100%;
    height: 100%;
  }   
  /* portfolio end */
  /* Contact start */
  .portrait {
    width: 10.333em;
    height: 10.333em;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 1.777em;
    margin-left: auto;
    margin-right: auto;
  }
  .portrait img {
    width: 10.333em;
    height: 10.333em;
  }
  .message {
    text-align: center;
    margin-top: 1.777em;
    padding-bottom: 2.333em;
  }
  .message a:link {
    color: #202C39;
    text-decoration: underline;
  }
  .message a:visited {
    color: #202C39;
    text-decoration: none;
  }
  .message a:hover {
    color: #46494C;
    text-decoration: none;
  }
  .message a:active {
    color: #46494C;
    text-decoration: none;
  }
  .icon {
    display: flex;
    justify-content: center;
  }
  .icon img {
    width: 2em;
    height: 2em;
    margin-right: 0.333em;
  }
  /* Contact end */
  /* Blog start */
  #blog {
    padding-top: 2.333em;
    padding-left: 0.333em;
    padding-right: 0.333em;
    overflow: hidden;
  }
  #blog a:link {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog a:visited {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog a:hover {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog a:active {
    color: #0C0C0C;
    text-decoration: none;
  }
  #blog img {
    width: 100%;
    display: block;
    height: auto;
  }
  #header h1 {
    padding-bottom: 2.333em;
  }
  #header h2 {
    line-height: 1.333em;
    font-size: 1em;
  }
  .posth2 {
    padding-bottom: 1em;
  }
  .postdate {
    font-size: 0.888em;
    border-bottom: 0.1333em solid #000000;
    margin-bottom: 1.333em;
    margin-top: 1em;
  }
  .blogcaption {
    display: block;
    text-align: center;
  }
  .blogpost {
    padding-bottom: 1.333em;
  }
  /* Blog end */
}
